<table>
  <tr>
    <th>Filename</th>
    <th>Preprocessed</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let file of fileinfo">
    <td>{{ file.name }}</td>
    <td class="fixed">{{ showPreprocess(file.preprocessed) }}</td>
    <td class="fixed">
      <button
        mat-raised-button
        disabled="{{ file.loading || file.preprocessed }}"
        (click)="preprocess(file)"
      >
        Re-preprocess
      </button>
      <mat-spinner
        [style.opacity]="showSpinner(file.loading)"
        diameter="15"
        mode="indeterminate"
        class="spinner"
      ></mat-spinner>
    </td>
  </tr>
</table>
