.legends-container {
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:0 48px;
}

.legends-container table {
  width: 100%;
}

table { 
  border-collapse: collapse;
  tr.mat-h4{
    th{
      font-weight: normal;
      padding-left: 5px;
      font-size: 16px;
      text-align: left;
    }
  }
  tr {
    border-bottom: 1pt solid #eee;
    height: 42px;
  }
}