astroid==2.4.2
attrs==19.3.0
autopep8==1.5.3
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
coverage==5.1
Flask==1.1.2
Flask-Cors==3.0.8
google-api-core==1.22.0
google-auth==1.20.0
google-cloud-core==1.4.1
google-cloud-storage==1.30.0
google-crc32c==0.1.0
google-resumable-media==0.7.1
googleapis-common-protos==1.52.0
idna==2.10
importlib-metadata==1.6.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
packaging==20.4
parso==0.7.0
pluggy==0.13.1
protobuf==3.12.4
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pylint==2.3.1
pyparsing==2.4.7
pytest==5.4.3
pytest-cov==2.10.0
pytest-localserver==0.5.0
pytz==2020.1
requests==2.24.0
rope==0.17.0
rsa==4.6
six==1.14.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==3.0.1
wrapt==1.12.1
zipp==3.1.0
