$sidebar-width: 300px;

.mat-filelist{
  max-width: $sidebar-width;
}

mat-list-option{
  height: auto !important;
}

.tank-app-title {
  padding: 24px 16px;
}

.tank-app-title img {
  height: 37px;
  margin-right: 16px;
  vertical-align: middle;
  width: 43px;
}

.tank-app-title span {
  vertical-align: middle;
}


.place-holder{
  width: $sidebar-width;
}

::ng-deep .mat-list-text{
  font-size: 14px;
  overflow: auto !important;
  margin: 8px 0;
}

.mat-list-base[dense] .mat-list-item {
  font-size: 14px !important;
  white-space: nowrap;
}

p{
  padding: 0 16px;
  margin: 16px 0 0;
}

button{
  font-size: 16px;
}

::ng-deep .mat-menu-panel{
  min-width: 400px !important;
}