.x-axis path .x-axis line {
  shape-rendering: crispEdges;
}

.x-axis {
  font-family: sans-serif;
  font-size: 16px;
}
.y-axis path .y-axis line {
  shape-rendering: crispEdges;
}

.y-axis {
  font-family: sans-serif;
  font-size: 16px;
}

.chart-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  margin: 10px auto;
  height: 60px;
}

.spinner {
  margin: auto 10px;
}
