$small-font: 12px;

.channel-metrics {
  padding: 2px;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 10px 5px;
  width: auto;
  min-width: 80px;
}
.legends {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 3px;
}
.legend-checkbox {
  font-size: $small-font;
}

.numbers-section {
  display: flex;
  flex-direction: row;
  font-size: $small-font;
  margin-top: 5px;
}

.numbers-section-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.numbers-section-row {
  margin: -2px auto;
}
